* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

html {
  font-family: "lato", sans-serif;
  font-size: 62.5%;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counters {
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.counter {
  margin: 1rem;
  display: flex;
  align-items: center;
}

.counter:not(:last-child) {
  margin-top: 3rem;
}

.counter button {
  padding: 0.3rem 1rem;
  margin: 0.5rem;
  font-size: 2rem;
}

.date {
  font-size: 4rem;
}
